/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './utils/variables';
@import './utils/placeholders';
@import './base/common';
@import './components/about';
@import './components/advantages';
@import './components/contacts';
@import './components/customer_reviews';
@import './components/footer';
@import './components/gallery';
@import './components/hero_header';
@import './components/products';
