//Color variables
$primary-text-color: rgb(53, 53, 53);
$secondary-text-color: #907e82;
$tertiary-text-color: #ffa5ba;
$hero-text-color: #ffffff;
$accent-color: rgb(253, 161, 28);
$hero-bgr-color: #ffb8ca;
$footer-bgr-color: #fff5f6;
$logo-color: #34a853;
$tettiary-bgr-color: #c2e297;
$modal-bgr-color: #e17992;
$modal-border-color: #e18298;
$primary-color-hover-btn: #c7133e;
$secondary-color-hover-btn: #ecebeb;

//Fonts variables
$primary-font: Myriad Pro,  sans-serif;
$secondary-font: Titan One, sans-serif;
