//Color variables
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$tertiary-text-color: #ffa5ba;
$hero-text-color: #ffffff;
$accent-color: #d41443;
$hero-bgr-color: #ffb8ca;
$footer-bgr-color: #fff5f6;
$secondary-bgr-color: #f0d1a5;
$tettiary-bgr-color: #c2e297;
$modal-bgr-color: #e17992;
$modal-border-color: #e18298;
$primary-color-hover-btn: #c7133e;
$secondary-color-hover-btn: #ecebeb;

//Fonts variables
$primary-font: DM Sans, sans-serif;
$secondary-font: Titan One, sans-serif;
