//Color variables
@font-face {
  font-family: 'MyriadPro Regular';
  src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
}
@font-face {
  font-family: 'MyriadPro SemiExtended';
  src: url('../fonts/Myriad_Pro_Light_SemiExtended.otf') format('opentype');
}

$primary-text-color: #000000;
$secondary-text-color: #f3f1f1;
$tertiary-text-color: #777777;
$hero-text-color: #ffffff;
$accent-color: rgb(253, 161, 28);
$primary-br-color: #f3f2f2;
$secondary-br-color: #e8e7e7;
$hero-bgr-color: #282828;
$footer-bgr-color: #1f1f1f;
$logo-color: #34a853;

$secondary-color-hover-btn: #ecebeb;

//Fonts variables
$primary-font: 'MyriadPro SemiExtended', sans-serif;
$secondary-font: 'MyriadPro Regular', sans-serif;
