<section class="about" id="How">
  <div class="about_container">
    <h2 class="about_title">
      tradition and love
      <span class="about_title--accent">how it’s made?</span>
    </h2>
    <div class="about_content">
      <div class="about_img1--mobile">
        <img
          srcset="/images/M_home-pic41.png 1x, /images/M_home-pic41@2x.png 2x"
          src="/images/M_home-pic41.png"
          alt="tradition and love"
        />
      </div>
      <div class="about_img1--tablet">
        <img
          srcset="/images/Thome-pic41.png 1x, /images/Thome-pic41@2x.png 2x"
          src="/images/Thome-pic41.png"
          alt="tradition and love"
        />
      </div>
      <div class="about_img1--desktop">
        <img
          srcset="/images/Dhome-pic41.png 1x, /images/Dhome-pic41@2x.png 2x"
          src="/images/Dhome-pic41.png"
          alt="tradition and love"
        />
      </div>
      <div class="about_text-wrapper">
        <p class="about_text--black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about_text--gray">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about_text--gray about_text--gray2">Aliquam erat volutpat. Aenean accumsan.</p>
        <div class="checkbox">
          <input class="about_input" type="checkbox" name="" id="button" />
          <p class="about_modalText">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio repudiandae neque velit a
            ipsam. Sequi exercitationem ullam id beatae ducimus deserunt, ratione illum unde, quo
            distinctio repellat nulla eligendi quisquam. <br />
            <label class="about_button" for="button">Read more ></label>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about_img2--mobile">
    <img
      srcset="/images/Msectionbg11left.png 1x, /images/Msectionbg11@2xleft.png 2x"
      src="/images/Msectionbg11left.png"
      alt="Milk"
    />
    <img
      srcsset="/images/Msectionbg11right.png 1x, /images/Msectionbg11@2xright.png 2x"
      src="/images/Msectionbg11right.png"
      alt="Milk"
    />
  </div>
  <div class="about_img2--desktop">
    <img
      srcset="/images/Dsectionbg11left.png 1x, /images/Dsectionbg11@2xleft.png 2x"
      src="/images/Dsectionbg11left.png"
      alt="Milk"
    />
    <img
      srcset="/images/Dsectionbg11right.png 1x, /images/Dsectionbg11@2xright.png 2x"
      src="/images/Dsectionbg11right.png"
      alt="Milk"
    />
  </div>
</section>
