<section class="about">
  <div class="about__contain">
    <div class="about__mane">
      <a class="about__link" href="">
        <svg class="logo" width="249" height="249">
          <use xlink:href="./images/icons.svg#icon-logo"></use>
        </svg>
        <p class="about__link__site">Столовая.РУ</p>
        <p class="about__link__tittel">создание оптимальных пищеблоков</p>
      </a>
      <p class="about__tittel">Группа компаний</p>
      <p class="about__indicators">Показатели:</p>
      <ul class="about__list">
      <li class="about__item">На рынке: 5 лет</li>
      <li class="about__item">Объем контрактов: 4 млрд.р.</li>
      <li class="about__item">Количество контрактов: 620</li>
      </ul>
    </div>
    <div class="about__description">
        <p class="about__description__tittel">Комплексные решения оснащения столовых и кафе</p>
        <p class="about__activity">Компания «Диалог» предлагает комплексное оснащение столовых, ресторанов, кафе и баров в Москве. Наши услуги построены по принципу полного цикла обслуживания предприятий общепита и бизнеса HoReCa.</p>
        <p class="about__activity">Иными словами, мы предлагаем проектирование «под ключ» и постгарантийное обслуживание. География работы компании охватывает всю страну. При этом в каждом регионе мы готовы География работы компании охватывает всю страну. При этом в каждом регионе мы готовы предложить демократичные цены на профессиональное технологическое оборудование для столовой и оптимальные решения с точки зрения эффективности бизнеса, приемлемым уровнем производительности в условиях ограниченного бюджета.</p>
        <button class="about__button">+</button>
    </div>
   
  </div>

</section>
