<section class="brands">
  <div class="brands__contain">
    <ul class="brands__list">
      <li class="brands__item">
        <a class="brands__link" href="">
          <img src="./images/img_abat.png" alt="abat" width="242" height="50" />
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="">
          <img src="./images/img_atesy.png" alt="atesy" width="225" height="58" />
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="">
          <img src="./images/img_hicol.png" alt="hi cold" width="218" height="55" />
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="">
          <img src="./images/img_rational.png" alt="rational" width="224" height="55" />
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="">
          <img src="./images/img_simeco.png" alt="simeco" width="243" height="62" />
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href=""> Все бренды </a>
      </li>
    </ul>
  </div>
</section>
