<footer class="footer">
    <div class="footer__contain">
        <a href="" class="footer__link">
            <svg class="logo" width="88" height="88">
                <use xlink:href="./images/icons.svg#icon-logo"></use>
              </svg>
            <div class="footer__description">
                <p class="footer__description__site">Столовая.РУ</p>
                <p class="footer__description__tittel">Создание оптимальных пищеблоков</p>
            </div>
        </a>
        <p class="footer__signature">Сайт разработан NTI-systems</p>
    </div>
</footer>
