<header class="page_header">
  <div class="page-header__container">
    <div class="menu">
      <div class="menu__container">
        <button class="menu__close js-close-menu">
          <svg width="29" height="28">
            <use xlink:href="./images/icons.svg#icon-menu"></use>
          </svg>
        </button>
        <nav class = >
          <ul>
            <li><a href="./">Компания </a></li>
            <li><a href="./">Портфолио</a></li>
            <li><a href="./">Проектирование</a></li>
            <li><a href="./">Ресторанам</a></li>
            <li><a href="./">Застройщикам</a></li>
            <li><a href="./">Гос.заказчикам</a></li>
            <li><a href="./">Таблет-питание</a></li>
            <li><a href="./">Сервис</a></li>
            <li><a href="./">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <a href="">
      <div>
        <img src="" alt="" />
        <div>
          <p></p>
          <p></p>
        </div>
      </div>
    </a>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
    <!-- <div class="menu">
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu__close js-close-menu">
          <svg class="menu__icon" width="18px" height="18px">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="main-nav">
          <ul class="menu__nav-list">
            <li class="menu__nav-item">
              <a class="menu__nav-link menu__nav-link--current" href="./index.html">Студия</a>
            </li>
            <li class="menu__nav-item">
              <a class="menu__nav-link" href="./portfolio.html"> Портфолио</a>
            </li>
            <li class="menu__nav-item">
              <a class="menu__nav-link" href="./"> Контакты</a>
            </li>
          </ul>
        </nav>
        <ul class="menu__contacts-list">
          <li class="menu__contacts-item">
            <a class="menu__contacts-link" href="mailto:info@devstudio.com">
              <svg class="menu__contacts-icon" width="16px" height="12px">
                <use href="./images/icons.svg#icon-post"></use>
              </svg>
              info@devstudio.com
            </a>
          </li>
          <li class="menu__contacts-item">
            <a class="menu__contacts-link menu__contacts-link--email" href="tel:+380961111111">
              <svg class="menu__contacts-icon" width="10px" height="12px">
                <use href="./images/icons.svg#icon-telephone"></use>
              </svg>
              +38 096 111 11 11
            </a>
          </li>
        </ul>
        <ul class="menu__social-list">
          <li class="menu__social-item">
            <a href="" class="menu__social-link">Instagram</a>
          </li>
          <li class="menu__social-item">
            <a href="" class="menu__social-link">Twitter</a>
          </li>
          <li class="menu__social-item">
            <a href="" class="menu__social-link">Facebook</a>
          </li>
          <li class="menu__social-item">
            <a href="" class="menu__social-link">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
    <a href="./index.html" class="logo logo--header"> 
        <svg width="55" height="55" viewBox="0 0 380.721 380.721" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
            <use xlink:href="#img-logo"></use>
        </svg>
    </a>

    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu-toggle__image">
        <use href="./images/icon-menu.svg#icon-menu"></use>
      </svg>
    </button> -->
  </div>
</header>
