<header class="page_header">
  <div class="page-header__container">
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu-toggle__image">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="menu">
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu__close js-close-menu">
          <svg class="menu__icon" width="25" height="25">
            <use xlink:href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item"><a class="main-nav__link" href="./">Компания </a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Портфолио</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Проектирование</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Ресторанам</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Застройщикам</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Гос.заказчикам</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Таблет-питание</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Сервис</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="./">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <a href="">
      <div class="header__link">
        <svg class="logo logo--header" width="29" height="28">
          <use xlink:href="./images/icons.svg#icon-logo"></use>
        </svg>
        <div class="header__link__description">
          <p class="header__link__site">Столовая.РУ</p>
          <p class="header__link__tittel">Создание пищеблоков</p>
        </div>
      </div>
    </a>
    <ul class="header__contacts">
      <li class="header__contacts__item">
        <a class="header__contacts__link" href="">
          <svg class="header__contacts__tel" width="45" height="56">
            <use xlink:href="./images/icons.svg#icon-telephone"></use></svg>
          </a>
      </li>
      <li class="header__contacts__item header__contacts__item--shop">
        <a class="header__contacts__link" href="./">
          <svg class="header__contacts__shop" width="55" height="60">
            <use xlink:href="./images/icons.svg#icon-shopping"></use>
            </svg>
          </a>
      </li>
    </ul>
  </div>
</header>
