<header class="header" id='home'>
    <div class="hero__header__container">
        <div class="modal">
            <svg class="button__close" width='14' height='14'>
                <use href="/images/icons.svg#close"></use>
            </svg>
            <button class="buy__now button__in__modal">
                <div class="buy__now--contain">
                    <span class="buy__now--content">Buy now</span>
                    <svg class="buy__now__icon" width="8" height="10">
                        <use href="/images/icons.svg#arrow"></use>
                    </svg>
                </div>
            </button>

            <ul class="modal__list">
                <li class="modal__item">
                    <a href="#home" class="modal__link modal__link--current">Home
                    </a>
                </li>
                <li class="modal__item">
                    <a href="#About" class="modal__link">About us</a>
                </li>
                <li class="modal__item">
                    <a href="#How" class="modal__link">How it’s made?</a>
                </li>
                <li class="modal__item">
                    <a href="#Products" class="modal__link">Our products</a>
                </li>
                <li class="modal__item">
                    <a href="#Contact" class="modal__link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="header__contain">

            <a class="header__link" href="">
                <img class="logo" src="/images/logo1.png" alt="logo">
            </a>
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <a href="#home" class="site-nav__link site-nav__link--current">Home
                    </a>
                </li>
                <li class="site-nav__item">
                    <a href="#About" class="site-nav__link">About us</a>
                </li>
                <li class="site-nav__item">
                    <a href="#How" class="site-nav__link">How it’s made?</a>
                </li>
                <li class="site-nav__item">
                    <a href="#Products" class="site-nav__link">Our products</a>
                </li>
                <li class="site-nav__item">
                    <a href="#Contact" class="site-nav__link">Contact</a>
                </li>
            </ul>
            <div class="header__button__position">
                <button class="button__open">
                    <svg width='20' height='12'>
                        <use href="/images/icons.svg#burger"></use>
                    </svg>
                </button>
                <button class="buy__now button__in__tablet">
                    <div class="buy__now--contain--tablet">
                        <span class="buy__now--content--tablet">Buy now</span>
                        <svg class="buy__now__icon--tablet" width="8" height="10">
                            <use href="/images/icons.svg#arrow"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="hero">
            <h1 class="hero__title">ice cream made with
                <span class="hero__title--accent">passion</span>
            </h1>
            <div class="button__contain">
                <a class="button__products" href="#Products">Products</a>
                <a class="button__products button__made--pos" href="#How">How it’s made?</a>
            </div>
        </div>

        <div class="primary">
            <picture>
                <source srcset="/images/Dslider-pic71.png 236w, /images/Dslider-pic71@2x.png 472w"
                    media="(min-width: 1200px)" sizes="(min-width: 1200px) 236px, 100vw">
                <source srcset="/images/Tslider-pic71.png 143w, /images/Tslider-pic71@2x.png 286w"
                    media="(min-width: 768px)" sizes="(min-width: 768px) 143px, 100vw">
                <source srcset="/images/Mslider-pic71.png 171w, /images/Mslider-pic71@2x.png 342w"
                    media="(min-width: 320px)" sizes="(min-width: 320px) 171px, 100vw">
                <img class="primary_subject" src="/images/Mslider-pic71.png" alt="slider">
            </picture>
        </div>
        <div class="bio__eco">
            <picture>
                <source srcset="/images/Dslider-pic51.png 188w, /images/Dslider-pic51@2x.png 376w"
                    media="(min-width: 1200px)" sizes="(min-width: 1200px) 188px, 100vw">
                <source srcset="/images/Tslider-pic51.png 124w, /images/Tslider-pic51@2x.png 248w"
                    media="(min-width: 768px)" sizes="(min-width: 768px) 124px, 100vw">
                <img class="bio__eco--image" src="/images/Dslider-pic51.png" alt="bio__eco">
            </picture>
            <p class="bio__eco__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et</p>
            <picture>
                <source srcset="/images/Marrow-right4.png 40w, /images/Marrow-right4@2x.png 80w"
                    media="(min-width: 768px)" sizes="(min-width: 768px) 40px, 100vw">

                <img class="bio__eco--icon" src="/images/Marrow-right4.png" alt="arrow-right">
            </picture>
        </div>
        <div class="goods">
            <ul class="goods__list">
                <li class="goods__item">
                    <span class="among">16</span>
                    <span class="goods__name">cafes</span>
                    <div class="back__style back__style-first"></div>
                </li>
                <li class="goods__item">
                    <span class="among among__last">23</span>
                    <span class="goods__name goods__name__last">food trucks</span>
                    <div class="back__style back__style-second"></div>
                </li>
            </ul>
        </div>
        <div class="example__eat__ice-cream">
            <picture>
                <source srcset="/images/Dslider-pic41.png 293w, /images/Dslider-pic41@2x.png 586w"
                    media="(min-width: 1200px)" sizes="(min-width: 1200px) 293px, 100vw">
                <source srcset="/images/Tslider-pic41.png 168w, /images/Tslider-pic41@2x.png 336w"
                    media="(min-width: 768px)" sizes="(min-width: 768px) 168px, 100vw">
                <img class="eat__ice-cream" src="/images/Tslider-pic41.png" alt="">
            </picture>
        </div>
    </div>
</header>


<script>
    const openModalOpen = document.querySelector('.button__open');
    openModalOpen.addEventListener('click', isOpenModal);
    const modalEL = document.querySelector('.modal');
    function isOpenModal() {
        modalEL.classList.add('is-open');

    }

    const closeModalOpen = document.querySelector('.button__close');
    closeModalOpen.addEventListener('click', isCloseModal);
    function isCloseModal() {
        modalEL.classList.remove('is-open');
    }

    const fingCurrentEl = document.querySelectorAll('.modal__link');
    const listEl = document.querySelector('.modal__list');
    listEl.addEventListener('click', currentEl)
    function currentEl(e) {
        const currentRemove = document.querySelector('.modal__link--current');
        if (e.target.classList.value === 'modal__link modal__link--current') { return }
        else {
            currentRemove.classList.remove('modal__link--current');
            e.target.classList.add('modal__link--current');
        }
    }

</script>