<section class="information">
    <div class="information__contain">
        <ul class="information__list">
            <li class="informatoin__items"> Информация <button class="information__button">+</button>
                <ul class="informatoin__items__list">
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                   
                </ul>
            </li>
            <li class="informatoin__items">Оборудование <button class="information__button">+</button>
                <ul class="informatoin__items__list">
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                </ul>
            </li>
            <li class="informatoin__items">Предложения <button class="information__button">+</button>
                <ul class="informatoin__items__list">
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                   
                </ul>
            </li>
            <li class="informatoin__items">Контакты<button class="information__button">+</button>
                <ul class="informatoin__items__list">
                    <li class="informatoin__items__items"><a href=""></a></li>
                    <li class="informatoin__items__items"><a href=""></a></li>
                </ul>
            </li>
            <li class="informatoin__items">Реквизиты <button class="information__button">+</button>
               <!-- <p>какие то реквизиты какие то реквизиты какие то реквизиты</p>
               <p>какие то реквизиты какие то реквизиты какие то реквизиты</p>
               <p>какие то реквизиты какие то реквизиты какие то реквизиты</p>
               <p>какие то реквизиты какие то реквизиты какие то реквизиты</p>
               <p>какие то реквизиты какие то реквизиты какие то реквизиты</p>
               <p>какие то реквизиты какие то реквизиты какие то реквизиты</p>
               <p>какие то реквизиты какие то реквизиты какие то реквизиты</p>  -->
            </li>
        </ul>
    </div>
</section>