<section class="products" id="Products">
<div class="products__container">
<h2 class="products__title">
100% natural<br>
<span class="products__title--accent">products</span>
</h2>
<ul class="products__list">
    <li class="products__item products__item--ice-cream"><a href="" class="products__link">
        <div class="products__image" >
            <img srcset="/images/Dhome-pic1.png 335w, /images/Dhome-pic1@2x.png 670w" 
            src="/images/Dhome-pic1.png" alt="мороженое с клубникой" 
            sizes=" (min-width:1200px) 335px,  (max-width:768px) 249px, (min-width:768px) 220px, 100vw"
            />
        </div>
        <h3 class="products__item__title">ice cream</h3>
        <div class="points">
        <ul class="points__list">
        <li class="points__item"></li>
        <li class="points__item"></li>
        <li class="points__item"></li>
        </ul>
        </div>
        <div class="products__card">
        <p class="products__card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        </div>
        </a>
        <div class="btn__thumb">
        <button type="button" class="description-button"
        aria-expanded="false"
        aria-controls='description-container'
        data-description-button1>
        <img class="products__icon" srcset="/images/Marrow-right4.png 40w, /images/Marrow-right4@2x.png 80w"
        src="/images/Marrow-right4.png" alt="arrow-right"
        sizes="40px, 100vw" />
        </button>
        </div>
    <div class="description-container description-container--ice-cream" id="description-container" data-description>
        <p class="description__text products__card__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tenetur culpa adipisci natus excepturi error
            maxime molestias illo porro, laborum eos, nostrum cupiditate dignissimos quaerat, autem vel alias repellendus
            distinctio.
        </p>
    </div>
    </li>
    <li class="products__item products__item--ice-coffee"><a href="" class="products__link">
        <div class="products__image" >
            <img srcset="/images/Dhome-pic2.png 335w, /images/Dhome-pic2@2x.png 670w" src="/images/Dhome-pic2.png"
                alt="кофе со льдом"
                sizes=" (min-width:1200px) 335px, (min-width:768px) 220px, (max-width:768px) 249px, 100vw" />
        </div>
        <h3 class="products__item__title">ice coffee</h3>
        <div class="points">
            <ul class="points__list">
                <li class="points__item"></li>
                <li class="points__item"></li>
                <li class="points__item"></li>
            </ul>
        </div>
        <div class="products__card">
            <p class="products__card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
        </div>
       </a>
        <div class="btn__thumb">
            <button type="button" class="description-button" aria-expanded="false" aria-controls='description-container'
                data-description-button2>
                <img class="products__icon" srcset="/images/Marrow-right4.png 40w, /images/Marrow-right4@2x.png 80w"
                    src="/images/Marrow-right4.png" alt="arrow-right" sizes="40px, 100vw" />
            </button>
        </div>
        <div class="description-container description-container--ice-coffee" id="description-container" data-description2>
            <p class="description__text products__card__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tenetur culpa adipisci natus excepturi error
                maxime molestias illo porro, laborum eos, nostrum cupiditate dignissimos quaerat, autem vel alias repellendus
                distinctio.
            </p>
        </div>
    </li>
    <li class="products__item products__item--milkshakes"><a href="" class="products__link">
            <div class="products__image">
            <img srcset="/images/Dhome-pic3.png 335w, /images/Dhome-pic3@2x.png 670w" src="/images/Dhome-pic3.png"
                alt="молочный коктейль с шоколадом и мороженым"
                sizes=" (min-width:1200px) 335px, (min-width:768px) 220px, (max-width:768px) 249px, 100vw" />
            </div>
        <h3 class="products__item__title">milkshakes</h3>
        <div class="points">
            <ul class="points__list">
                <li class="points__item"></li>
                <li class="points__item"></li>
                <li class="points__item"></li>
            </ul>
        </div>
        <div class="products__card">
            <p class="products__card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
        </div>
        </a>
        <div class="btn__thumb">
            <button type="button" class="description-button" aria-expanded="false" aria-controls='description-container'
                data-description-button3>
                <img class="products__icon" srcset="/images/Marrow-right4.png 40w, /images/Marrow-right4@2x.png 80w"
                    src="/images/Marrow-right4.png" alt="arrow-right" sizes="40px, 100vw" />
            </button>
        </div>
        <div class="description-container description-container--milkshakes " id="description-container" data-description3>
            <p class="description__text products__card__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tenetur culpa adipisci natus excepturi error
                maxime molestias illo porro, laborum eos, nostrum cupiditate dignissimos quaerat, autem vel alias repellendus
                distinctio.
            </p>
        </div>
    </li>
</ul>
</div>
</section>
<script>
    (() => {
        const descriptBtnRef = document.querySelector("[data-description-button1]");
        const descriptBtnRef2 = document.querySelector("[data-description-button2]");
        const descriptBtnRef3 = document.querySelector("[data-description-button3]");

        const descriptRef = document.querySelector("[data-description]");
        const descriptRef2 = document.querySelector("[data-description2]");
        const descriptRef3 = document.querySelector("[data-description3]");

        descriptBtnRef.addEventListener("click", button1);
        function button1() {
            const expanded =
                descriptRef.getAttribute("aria-expanded") === "true" || false;

            descriptRef.classList.toggle("is-open");
            descriptRef.setAttribute("aria-expanded", !expanded);
        }
        descriptBtnRef2.addEventListener("click", button2);
        function button2() {
            const expanded =
                descriptRef2.getAttribute("aria-expanded") === "true" || false;

            descriptRef2.classList.toggle("is-open");
            descriptRef2.setAttribute("aria-expanded", !expanded);
        }
        descriptBtnRef3.addEventListener("click", button3);
        function button3() {
            const expanded =
                descriptRef3.getAttribute("aria-expanded") === "true" || false;

            descriptRef3.classList.toggle("is-open");
            descriptRef3.setAttribute("aria-expanded", !expanded);
        }

    })();
</script>
