<section class="recommendations">
  <div class="recommendations__contain">
    <div class="recommendations__preview">
      <p class="recommendations__preview__tittel">Рекомендуем</p>
      <p class="recommendations__preview__description">
        В этих разделах вы можете получить подробную
      </p>
      <p class="recommendations__preview__description">информацию о пищевом оборудовании</p>
      <p class="recommendations__preview__description">для столовых, ресторанов и кафе</p>
      <p class="recommendations__preview__description">ведущих производителей.</p>
    </div>
    <ul class="recommendations__list">
      <li class="recommendations__card">
        <p class="recommendations__card__name">Unox</p>
        <p class="recommendations__card__tittel">Пароконвектоматы</p>
        <p class="recommendations__card__description">
          Благодаря своей универсальности пароконвектоматы быстро завоевывают пользователей по всему
          миру.</p>
        <img
          class="recommendations__card__img" src="./images/img_a.png" alt="Unox"
          height="527"
          width="264"
        />
      </li>
      <li class="recommendations__card">
        
            <p class="recommendations__card__name">Abat</p>
            <p class="recommendations__card__tittel">Тепловое оборудование</p>
            <p class="recommendations__card__description">
              Более 55 лет успешно работает на рынке торгово- технологического оборудования, по
              праву занимая лидирующее положение в данном сегменте.
            </p>
          

          <img class="recommendations__card__img" 
          src="./images/img_b.png" alt="Abat" 
          width="350" height="370"/>
        
      </li>
      <li class="recommendations__card">
        
            <p class="recommendations__card__name">Hallde</p>
            <p class="recommendations__card__tittel">Овощерезки</p>
            <p class="recommendations__card__description">
              Мощный двигатель переводит высокий крутящий момент на режущий инструмент.
            </p>
          

          <img class="recommendations__card__img" src="./images/img_c.png" alt="Hallde" width="387" height="392"/>
        
      </li>
    </ul>
  </div>
</section>
