.reviews__container {
  margin: 0 auto;
  width: 320px;
  @media screen and (min-width: 768px) {
    width: 620px;
  }
  @media screen and (min-width: 1200px) {
    width: 926px;
  }
}
.reviews__img {
  // position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.reviews__img--item {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: 123px;
  margin-bottom: 15px;
}
.reviews__img--itemOne {
  // transform: translateX(100%);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.reviews__img--itemTwo {
  // transform: translateX(100%);
  // position: absolute;
  // top: 0;
  // left: 118px;
  // display: none;
  // @media screen and (min-width: 768px) {
  //   left: 268px;
  // }
  // @media screen and (min-width: 1200px) {
  //   left: 420px;
  // }
}
.reviews__img--itemThree {
  // transform: translateX(100%);
  // position: absolute;
  // top: 0;
  // left: 118px;
  // display: none;
  // @media screen and (min-width: 768px) {
  //   left: 268px;
  // }
  // @media screen and (min-width: 1200px) {
  //   left: 420px;
  // }
}
.reviews__content {
  margin: 0 auto;
  position: relative;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  margin: 0 20px;
  @media screen and (min-width: 768px) {
    width: 620px;
    padding: 47px 80px 34px 80px;
  }
  @media screen and (min-width: 1200px) {
    width: 926px;
    padding: 47px 89px 39px 87px;
  }
}

.reviews__content::before {
  position: absolute;
  left: 15px;
  top: 25px;
  content: '';
  width: 54px;
  height: 40px;
  background-image: url('/images/quotes.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: 768px) {
    left: 42px;
  }
  @media screen and (min-width: 1200px) {
    left: 42px;
    top: 30px;
  }
}

.reviews__ico {
  position: absolute;
  top: 20px;
  left: 45px;
  width: 54px;
  height: 40px;
  font-size: 60px;
  z-index: 0;
  @media screen and (min-width: 768px) {
    left: 55px;
  }
  @media screen and (min-width: 1200px) {
    left: 65px;
  }
}
.reviews__text {
  position: relative;
  z-index: 3;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;

  z-index: 2;

  @media screen and (min-width: 768px) {
    font-style: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.4;
  }
}

.reviews__gradient {
  text-align: center;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 20px,
    #e1e1e1 10%,
    #e1e1e1 21px
  );
}
.reviews__wrappers {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.reviews__wrappers-item {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $primary-color-hover-btn;
}
.reviews__wrappers-itemMid {
  margin: 0 10px;
}
.reviews__name {
  font-family: $primary-font;
  text-align: center;
  font-size: 14px;
  line-height: 1.85;
  margin-bottom: 35px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
.reviews__pagination {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 170px;
}
.reviews__pagination-link {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  background: linear-gradient(-45deg, #d9d9d9, white, pink, #d31342);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  z-index: 2;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.reviews__pagination-linkLeft {
  // visibility: hidden;
}
.reviews__pagination-linkMid {
  margin: 0 18px;
}
.reviews__pagination-linkMid:checked {
  visibility: hidden;
}
.reviews__svg {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100px;
  position: absolute;
}
.reviews__svg--ico {
  fill: #d31342;
  width: 12px;
  height: 12px;
}
.reviews__svg--icoLeft {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.reviews__svg--icoMid {
  // visibility: hidden;
  margin: 0 18px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.reviews__svg--icoright {
  // visibility: hidden;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.visible_foto {
  transform: translateX(0);
  display: block;
}
// .second_foto {
//   transform: translateX(0);
//   visibility: visible;
// }
// .three_foto {
//   transform: translateX(0);
//   visibility: visible;
// }
.item_hidden {
  visibility: hidden;
}
.item_none {
  display: none;
}
