.page-header {
  @extend %auto-margin;
  // border-bottom: 1px solid rgba(236, 236, 236, 1);
  // position: relative;
}
.page-header__container {
  //   @extend %contain-padding;
  @extend %auto-margin;
  padding: 10px 30px;
  
 

  //   padding-top: 16px;
  //   padding-bottom: 16px;
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  // justify-content: space-around;

  //    @media screen and (min-width:768px) {
  //     max-width: 768px;
  //     padding-top: 0;
  //     padding-bottom: 0;
  //    }
  //    @media screen and (min-width:1200px) {
  //     max-width: 1200px;
  //    }
}
.logo {
fill:darkgreen;
width: 55px;
height: 55px;
}
// .logo--header {

// }
.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__link__description{
margin-left: 10px;
text-decoration: none;
font-family: $primary-font

}
.header__link__site {
  // font-size: 24px;
  font-weight:bold;
  text-decoration: none;
  
    font-size: 30px;
    font-family: $primary-font;
    color: rgb(53, 53, 53);
    line-height: 1.2;
    // text-align: left;
    // position: absolute;
    // left: 196.937px;
    // top: 21.828px;
    // z-index: 37;
  
  
}
.header__link__tittel {
  font-size: 18px;
  font-family: $primary-font;
  text-decoration: none;
}
.header__contacts {
  @extend %list;
  display: flex;
  margin-left: auto;
  
}
.header__contacts__item {
  width: 45px;
  height: 56px;
  margin-right: 33px;
  fill: $logo-color;
  &:last-child {
    margin: 0;
  }
  &.header__contacts__item--shop{
    fill: $accent-color;
  
    position: relative;
    &::after{
      content: '12';
      color: $accent-color;
      font-size: 25px;
      position: absolute;
      bottom: 40px;
      left: 30px;
      // line-height: 1.335;
      
      // border: 2px solid black;
  // width: 50px;
    }
  }
}
// .header__contacts__link {

// }
.header__contacts__tel {
fill: $logo-color;



}
.header__contacts__shop {
  fill: $accent-color;
  
}