.information {
    @extend %auto-margin;
}
.information__contain {
    @extend %auto-margin;
    background-color: $hero-bgr-color;
    max-width: 750px;
    padding: 45px 45px 35px 45px;
    @media screen and (min-width: 768px) {
        display: flex;
        max-width: 1920px;
        padding-left: 188px;
        padding-right: 188px;
      }
}
.information__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    color: $primary-br-color;
   
}
.informatoin__items {
    
    padding: 30px 4px 30px 4px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $tertiary-text-color;
    &:last-child{
        border: none;
    }
&>button {
    margin-left: auto;
    background: none;
    border: none;
    color: $secondary-text-color;

}
}
.informatoin__items__list {
    @extend %list;

}
.informatoin__items__items {}