<section class="advantages">
    <div class="advantages__container">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
               <img src="/images/milk.png" 
               srcset="/images/milk.png 1x, /images/milk@2x.png 2x"
               alt=""
               width="33"
               height="50">
                <h3 class="advantages__tittel">721</h3>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <img src="/images/apple.png" 
                srcset="/images/apple.png 1x, /images/apple@2x.png 2x"
                alt=""
                width="50"
                height="50">
                <h3 class="advantages__tittel">16kg</h3>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <img src="/images/eskimo.png" 
                srcset="/images/eskimo.png 1x, /images/eskimo@2x.png 2x"
                alt=""
                width="44"
                height="50">
                <h3 class="advantages__tittel">84</h3>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>